body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropzone {
  border: 2px dashed #999999;
  border-radius: 3px;;
}

.dropzone-entered {
  border: 2px dashed #555555;
}
